
  .contactCards{
    min-width: 100%;
    min-height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .button{
      margin-top:25%;
    }
    .buttonauto{
      margin-top:auto;
    }
  }