.card{
    width: fit-content;
    border:2.5px solid #333333;
    border-radius:1rem;
    margin:0.5rem;

    .header{
        border-radius:0.8rem 0.8rem 0 0;
        background-color: #b5d7e4;
        color:#343434;
        border-bottom:0 ;
        font-size: 2rem;padding: 0;
    }
    .body{
        border-radius:0 0 0.8rem 0.8rem;
        background-color: #0048fb;
        color:#ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
